html {
  height: calc(100vh - 2px);
  border: 1px solid black;
  -webkit-app-region: drag;
}

body {
  height: 100%;
}

body :not(div) {
  -webkit-app-region: no-drag;
}

#background {
  opacity: 0.4;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.iconbox {
  position: fixed;
}

.iconbox * {
  float: left;
  height: 27px;
  cursor: pointer;
}

.iconbox img, #videotext > span {
  opacity: 0.6;
}

#authorImg {
  opacity: 0.8;
}

.iconbox img:hover, #videotext > span:hover, #authorImg:hover {
  opacity: 1;
}

[data-message] {
  cursor: pointer;
}

.top {
  top: 8px;
}

.left {
  left: 8px;
}

.right {
  right: 8px;
}

.bottom {
  bottom: 8px;
}

#volumeSliderHolder {
  overflow: hidden;
  width: 0;
  transition: width 0.2s;
  margin-left: 4px;
}

#volumeControl:hover > #volumeSliderHolder {
  width: 50px;
}

#time > div {
  float: left;
}

#timeSpacer {
  margin-left: 3px;
  margin-right: 3px;
}

#settings-icon {
  margin-right: 4px;
}

#likeButton {
  margin-right: 8px;
}

#likeButton:not([data-toggled]), #dislikeButton:not([data-toggled]) {
  -webkit-filter: brightness(0);
}

#playVideo {
  display: none;
}

#authorImg {
  width: 48px;
  border-radius: 50%;
  margin-right: 8px;
}

#authorImg, #videotext {
  float: left;
}

#videotext {
  width: calc(100% - 74px);
  margin-top: 12px;
}

#videotext > span {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
}

#videoInformation {
  position: relative;
  top: 45px;
  height: 74px;
}

#time {
  position: absolute;
  left: 0;
  bottom: 0;
  color: rgb(100, 100, 100);
}

#progress {
  width: 100%;
  height: 3px;
  bottom: 18px;
}

#progressSlider {
  position: fixed;
  width: calc(100% - 18px);
  bottom: 68px;
  left: 7px;
  height: 3px;
  cursor: pointer;
  z-index: 3;
  opacity: 0;
}

#progress, #progress > div {
  position: absolute;
}

#progress > div {
  height: 100%;
  left: 0;
}

#progressPlayed {
  background-color: #F12B24;
  z-index: 2;
  width: 0;
}

#progressLoaded {
  background-color: rgba(255,255,255,.5);
  z-index: 1;
  width: 0;
}

#progressRest {
  background-color: rgba(255,255,255,.2);
  width: 100%;
}

#volumeMedium, #volumeHigh {
  display: none;
}

/* Volume Slider
 * stackoverflow.com/questions/18389224/
 * jsfiddle.net/1xg1j3tw/ */

#volumeSlider {
  -webkit-appearance: none;
  overflow-x: hidden;
  width: 50px;
  background: transparent;
  margin: 0;
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  pointer-events: none;
  width: 4px;
  height: 100%;
}

#volumeSlider::-webkit-slider-runnable-track {
  background: rgba(255,255,255,.2);
  height: 3px;
  margin: 5px 0;
}

#volumeSlider::-webkit-slider-thumb:before {
  content: "-";
  line-height: 0;
  position: absolute;
  left: -3000px;
  right: 4px;
  top: 0;
  bottom: 0;
  background: #F12B24;
}

#volumeSlider::-webkit-slider-thumb:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  bottom: -5px;
  background: #F12B24;
  z-index: 1;
}

#volumeSlider:focus {
  outline: none;
}

/* playlist popup */

#playlistToggler, ::-webkit-scrollbar {
  display: none;
}

#playlistToggler:checked + #playlistBox {
  display: block;
}

#playlistBox {
  display: none;
  position: fixed;
  z-index: 5;
  margin: 0;
  padding: 0;
  width: calc(100vw - 2px);
  height: calc(100vh - 2px);
  top: 1px;
  left: 1px;
  background-color: white;
}

#playlistItems {
  position: fixed;
  top: 35px;
  overflow-y: scroll;
  height: calc(100vh - 36px);
}

#playlistItems label {
  display: block;
  line-height: 25px;
  cursor: pointer;
  width: calc(100vw - 2px);
}

#playlistItems label * {
  vertical-align: middle;
}

#playlistItems label:hover {
  background: rgb(238, 238, 238);
}

#playlistItems input[type="checkbox"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  width: 21px;
  height: 21px;
  margin-left: 8px;
  background-image: url("icons/checkbox-unchecked.png");
}

#playlistItems input[type="checkbox"]:checked {
  background-image: url("icons/checkbox-checked.png");
}

#playlistBox [for="playlistToggler"] img {
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;
  height: 26px;
}

#playlistTopbar {
  position: fixed;
}

#playlistBox input[type="text"] {
  border: none;
  outline: none;
  position: fixed;
  left: 35px;
  top: 11px;
}

#playlistItems div {
  display: inline-block;
  margin-left: 4px;
  max-width: 200px;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

#playlistItems img {
  float: right;
  opacity: 0.5;
  margin-top: 4px;
  margin-right: 35px;
}
